* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Söhne,ui-sans-serif,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;

}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #23242a;
    display: grid;
    grid-template-columns: 1fr 4fr 18fr;
    grid-template-rows: 1fr;
    color: #fff;
}

.primary-side-nav {
    background-color: #151419;
    height: 100%;
    border-right: 1px solid rgba(255, 255, 255, 0.05);
}

.secondary-side-nav {
    background-color: #0f0e13;
    height: 100%;
    padding: 0 18px;
}

.main-wrapper {
    background-color: #23242a;
    padding: 14px 36px;
    position: relative;
    border-left: 1px solid rgba(255, 255, 255, 0.05);
}


.primary-side-nav section {
    /* border: 1px solid #fff; */
}

.primary-side-nav section:not(:first-of-type) {
    margin-top: 16px;
}

.three-dots {
    /* border: 1px solid red; */
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    margin-top: 5px;
}
.three-dots span {
    /* border: 1px solid #fff; */
    height: 0.6rem;
    width: 0.6rem;
    border-radius: 50%;
}
.three-dots span.red {
    background-color: #fd5f52;
}
.three-dots span.yellow {
    background-color: #ffbe05;
}
.three-dots span.green {
    background-color: #14cc35;
}

a {
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.8);
    opacity: 0.75;
    padding: 14px 0;
    transition: 0.1s all;
}

a.active,
a:hover {
    color: rgb(255, 255, 255);
    opacity: 1;
}
a svg {
    height: 1.4rem;
    width: 1.4rem;
}





.search-bar-wrapper {
    /* border: 1px solid #fff; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 0;
}

.search-bar {
    /* border: 1px solid #fff; */
    display: flex;
    width: 100%;
}

.search-bar input {
    border: none;
    outline: transparent;
    background-color: #23242a;
    font-size: 0.95rem;
    color: #fff;
    padding: 8px 10px;
    border-radius: 5px;
    width: 100%;
}
.search-bar input::placeholder {
    color: rgba(255, 255, 255, 0.8);
    opacity: 0.75;
}

h4 {
    font-size: 0.85rem;
    font-weight: 400;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.8);
    opacity: 0.8;
    line-height: 1.2;
    letter-spacing: 0.5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    /* border: 1px solid #fff; */
    list-style: none;
    margin-top: 10px;
}

li {
    font-size: 0.95rem;
    color: rgba(255, 255, 255, 0.75);
    padding: 5px 8px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    transition: 0.1s all;
    cursor: pointer;
    position: relative;
}
li.active,
li:hover {
    background-color: rgba(35, 36, 42, 0.8);
    color: #fff;
}
li img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

li::after {
    background-color: #23242a;
    content: '';
    height: 30px;
    width: 30px;
    position: absolute;
    top: 5px;
    left: 8px;
    border-radius: 50%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    line-height: 30px;
    color: #eee;
}
li::after img {
    filter: brightness(0.9);
}

li:hover::after img {
    filter: brightness(1);
}

li:nth-of-type(1)::after {
    background-color: rgb(203, 37, 112);
    content: 'S';
}

li:nth-of-type(2)::after {
    background-color: rgb(37, 120, 203);
    content: 'M';
}




.message-wrapper {
    /* border: 1px solid #fff; */
    width: 100%;
    /* position: relative; */
    padding: 16px 5px;
    display: flex;
}
.message-wrapper:not(:nth-of-type(2)) {
    /* margin-top: 10px; */
    border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.image-wrapper {
    /* border: 1px solid red; */
    position: relative;
}
.image-wrapper img {
    height: 40px;
    width: 40px;
    border-radius: 5px;
}

.image-wrapper::after {
    background-color: #23242a;
    content: '';
    height: 40px;
    width: 40px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    line-height: 40px;
    color: #fff;
}

.image-wrapper.bot:nth-of-type(1)::after {
    background-color: rgb(203, 37, 112);
    content: 'S';
}

.image-wrapper.user:nth-of-type(1)::after {
    background-color: rgb(52, 203, 47);
    content: 'U';
}

.message {
    /* border: 1px solid red; */
    padding: 5px 0;
    margin: 0 15px;
    font-size: 1rem;
}

.input-overlay {
    background-color: transparent;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 50px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-overlay input {
    background-color: #383a43;
    font-size: 1rem;
    padding: 16px 55px 16px 20px;
    width: 100%;
    color: #fff;
    border-radius: 10px;
    border: none;
    outline: transparent;
    /* border: 1px solid #fff; */
}
.input-overlay input::placeholder {
    color: #a0a0a0;
}


.input-bar {
    position: relative;
    width: 60%;
    display: flex;
    align-items: center;
    /* border: 1px solid #fff; */
}
.submit-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 10px;
    height: 35px;
    width: 35px;
    border: none;
    outline: transparent;
    background-color: transparent;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.75);
    cursor: pointer;
    transition: 0.1s all;
}
.submit-btn svg {
    height: 1.2rem;
    width: 1.2rem;
    margin-top: 2px;
}

.submit-btn:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
}
